body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  

#gameBoard {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px 300px;
    justify-content: center;
  }
  
  .square {   
      display: flex;
      width: 300px;
      height: 300px;
      border-style: solid;
      border-color: black;
      border-radius: 10px;
      background-color: white;
      font-size: 256px;
      align-items: center;
      align-content: center;
      justify-content: center;
  }